body {
  background-color: hsl(212, 45%, 89%);
  /* position: absolute; */
  font-family: "Outfit", sans-serif;
  max-width: 375px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

main {
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  padding: 20px 20px 30px 20px;
  box-shadow: 5px 5px 15px 15px hsl(212, 45%, 89%);
}

.qr-code {
  border-radius: 15px;
  width: 100%;
}

section {
  text-align: center;
  padding: 5px 20px 0px 20px;
}

h2 {
  font-weight: 700;
  color: hsl(218, 44%, 22%);
}

p {
  color: hsl(220, 15%, 55%);
  font-weight: 400;
  font-size: 15px;
}

footer {
  text-align: center;
  font-size: small;
  margin-top: auto;
}

/*
@media Desktop {
  width: 1440px;
} */
